[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
jcli = {editable = true, path = "."}
attrs = "*"
httpx = "*"
python-dateutil = "*"
tabulate = "*"
websockets = "*"
pytest = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
